*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

body{
    max-width: 2000px;
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.main_our_room{
    background: #75664f;
    height: 100vh;
}

.our_room_content h2{
    font-size: 2.5rem;
    margin-top: 20px;
    color: white;
}

.our_room_content{
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 26%;
    gap: 10px;
    color: white;
}

.our_room_content p{
    width: 52%;
    text-align: justify;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

/* room */

.room_cards{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
    align-items: center;
}

.room_img img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.room_content{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    align-items: center;
}

.room_content .room_heading h3{
    color: white;
}

.room_content button{
    padding: 6px 14px;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}   